{{define "enums.tmpl"}}
{{- if .Doc}}// {{.Name}} {{.Doc}}{{end}}
type {{.Name}} {{if .Unsigned}}uint32{{else}}int32{{end}}

const (
{{- range .Values}}
	{{$.Name}}{{.Name}} {{$.Name}} = {{.Value}}
{{- end}}
)
{{end}}
