{{define "free_func.tmpl"}}
{{- if .Doc}}// {{.Name}} {{.Doc}}{{end}}
func {{.Name}}({{range $i, $p := .Params}}{{if $i}}, {{end}}{{$p.Name}} {{$p.PublicType}}{{end}}){{if not .Return.IsVoid}} {{.Return.PublicType}}{{end}} {
	{{- range .Params}}{{if .IsString}}
	{{.Name}}C := cString({{.Name}})
	{{- end}}{{end}}
	{{- if .Return.IsVoid}}
	raw.{{.RawGoName}}({{range $i, $p := .Params}}{{if $i}}, {{end}}{{if $p.IsString}}{{$p.Name}}C{{else}}{{$p.Name}}{{end}}{{end}})
	{{- else if .Return.IsStringReturn}}
	ret := raw.{{.RawGoName}}({{range $i, $p := .Params}}{{if $i}}, {{end}}{{if $p.IsString}}{{$p.Name}}C{{else}}{{$p.Name}}{{end}}{{end}})
	return goString(ret)
	{{- else}}
	return raw.{{.RawGoName}}({{range $i, $p := .Params}}{{if $i}}, {{end}}{{if $p.IsString}}{{$p.Name}}C{{else}}{{$p.Name}}{{end}}{{end}})
	{{- end}}
}
{{end}}
